@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.to-do-list {
  font-family: 'Poppins', 'Sans-serif';
  text-align: center;
  margin-top: 100px;
}

h1 {
  user-select: none;
}

.input-txt {
  font-size: 25px;
  padding: 10px;
  border: none;
  background-color: rgba(87, 87, 87, 0.5);
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
  outline: none;
}

.add-button {
  user-select: none;
  background-color: rgba(87, 87, 87, 0.5);
  color: rgba(255, 255, 255, 0.87);
  border: none;
  margin-left: 10px;
  padding: 15px;
  font-size: 20px;
  border-radius: 15px;
  width: 150px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: rgba(87, 87, 87, 0.7);
}

ol {
  padding: 0;
}

li {
  display: flex;
  margin-left: 20%;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
  background-color: rgba(87, 87, 87, 0.5);
  font-weight: 300;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  max-width: 60%;
}

.text {
  flex: 1;
  color: rgba(255, 255, 255, 0.87);
}



.delete-button {
  user-select: none;
  background-color: rgba(85, 1, 1, 0.5);
  color: rgba(255, 255, 255, 0.87);
  border: none;
  margin-left: 10px;
  padding: 15px;
  font-size: 15px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 0px 5px rgba(85, 1, 1, 0.3);
}

.delete-button:hover {
  background-color: rgba(85, 1, 1, 0.7);
}

.move-button {
  user-select: none;
  background-color: rgba(11, 85, 1, 0.5);
  box-shadow: 0px 0px 5px rgba(11, 85, 1, 0.5);
  color: rgba(255, 255, 255, 0.87);
  border: none;
  margin-left: 10px;
  padding: 15px;
  font-size: 15px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.move-button:hover {
  background-color: rgba(11, 85, 1, 0.7);

}