@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

html,
body {
  background-color: rgb(201, 201, 201);
  max-width: 100vh;
  max-height: 100vh;
  margin: 1%;
  font-family: Comfortaa, sans-serif;
}
